@{
    ViewData["Title"] = "App home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="App" asp-action="UploadCsvFile">Upload CSV file</a>
    <a asp-controller="App" asp-action="GetResults">See results</a>
    <a asp-controller="App" asp-action="GetRecords">Get rows of file</a>
</div>
